th {
    background-color: rgb(255, 0, 64);
    border: 3px solid #DCBEA0;
    width: 50px;
    height: 40px;
    color: white;

}

tr {
    text-align: center;
}

table {
    background-color: #FFF4E5;
    border: 5px solid #DCBEA0;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
   

}

td {
    height: 40px;
    width: 50px;
}



td:hover {
    background-color: rgb(192, 190, 190);
}

.feriado {
    color: red;
    font-weight: bold;
    text-decoration: underline;
}

.ma {
    color: rgba(0, 0, 0, 0.1);
    text-decoration: line-through;
    
}
#da{
    color: rgba(0, 0, 0, 0.08);
    font-weight: bold;
}
.fds{
    color: rgb(0, 0, 0);
    font-weight: bold;
}
.sublinhado{
    text-decoration: underline;
    
}
ul{
  margin-left: 40%;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.pm{
    color: rgba(0, 0, 0, 0.1);
}
caption{
    font-weight: bold;
}